body{
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container {
    max-width: 960px;
  }
  
  .lh-condensed { line-height: 1.25; }
  